* {
  margin: 0%;
  border: 0%;
  padding: 0%;
}

h1 {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  color: #131313;
}

body {
  width: 100%;
  background-color: #b5b5b5;
}

#title {
  text-align: center;
}

#color-palette {
  text-align: center;
}

.color {
  margin-top: 20px;
  border: 1px solid black;
  display: inline-block;
  width: 20px;
  height: 20px;
}

#colorBlack {
  background-color: black;
}

#color2 {
  background-color: #9a031e;
}

#color3 {
  background-color: #118ab2;
}

#color4 {
  background-color: #ffb703;
}

#pixel-board {
  margin: 2%;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
  background-color: white;
}

#button-container {
  width: 100%;
  display: block;
  text-align: center;
}

#clear-board {
  color: gainsboro;
  margin-top: 20px;
  height: 20px;
  width: 50px;
  border-radius: 15%;
  background-color: #8c8c8c;
  text-align: center;
}

.pixel-line {
  display: flex;
  justify-content: center;
}

label {
  display: inline-block;
}

#text-input {
  margin-top: 10px;
}

#generate-board {
  color: gainsboro;
  margin-top: 20px;
  height: 20px;
  width: 50px;
  border-radius: 15%;
  background-color: #8c8c8c;
  text-align: center;
}

#board-size {
  width: 5%;
  height: 12%;
}

/* Referências: 
Centralizar div -> https://www.devmedia.com.br/como-centralizar-divs-em-html-e-css/37568